[submodule "vendor/capnproto"]
	path = vendor/capnproto
	url = https://github.com/capnproto/capnproto
[submodule "vendor/cppzmq"]
	path = vendor/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "vendor/libzmq"]
	path = vendor/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "vendor/MAVSDK"]
	path = vendor/MAVSDK
	url = https://github.com/mavlink/MAVSDK.git
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendor/pcl"]
	path = vendor/pcl
	url = https://github.com/PointCloudLibrary/pcl
[submodule "vendor/flann"]
	path = vendor/flann
	url = https://github.com/flann-lib/flann.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
