[submodule "vendor/capnproto"]
	path = vendor/capnproto
	url = https://github.com/capnproto/capnproto
[submodule "vendor/cppzmq"]
	path = vendor/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "vendor/libzmq"]
	path = vendor/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "vendor/MAVSDK"]
	path = vendor/MAVSDK
	url = https://github.com/mavlink/MAVSDK.git
